@using RipoffExpress.Models;

@model List<ShippingAddress>

<table>
    @foreach (ShippingAddress shippingAddress in Model)
    {
        <tr>
            <td>
                @shippingAddress.Address
            </td>
        </tr>
        <tr>
            <td>
                @shippingAddress.PostalCode, @shippingAddress.City
            </td>
        </tr>
        <tr>
            <td>
                @shippingAddress.Province, @shippingAddress.Country
            </td>
        </tr>
        <tr>
            <td>
                @shippingAddress.PhoneNumber
            </td>
        </tr>
        <tr>
            <td>
                Default:
            </td>
            @if (shippingAddress.Default == true)
            {
                <td>Yes</td>
            }
            else
            {
                <td>No</td>
            }
        </tr>
        <tr>
            <td>
                <a href="~/ShippingAddress/ShippingAddressEdit/@shippingAddress.Id">Edit Address</a>

            </td>
        </tr>
        <tr style="height:10px !important"></tr>
    }
</table>
