@using RipoffExpress.Models;

@model AccountDetails

@{ ShippingAddress s = Model.AddressBook.FirstOrDefault(x => x.Default == true);   }

   <b>Account Details</b>
    <p>
        <table>
            <tr><td>Username:   </td><td> @Model.Username  </td></tr>
            <tr><td>E-mail:     </td><td> @Model.Email     </td></tr>
            <tr><td>Phone:      </td><td> @s.PhoneNumber </td></tr>
        </table>
    </p><b>Default Shipping Address</b>
    <p>
        
        <table>
            <tr><td>Address:        </td><td> @s.Address    </td></tr>
            <tr><td>Postal Code:    </td><td> @s.PostalCode </td></tr>
            <tr><td>City:           </td><td> @s.City       </td></tr>
            <tr><td>Province:       </td><td> @s.Province   </td></tr>
            <tr><td>Country:        </td><td> @s.Country    </td></tr>
        </table>
    </p>




