@using RipoffExpress.Models;

@model List<ShippingAddress>

    <table>
        @foreach (ShippingAddress shippingAddress in Model)
        {

            <tr>
                <td>
                    @shippingAddress.Address
                </td>
            </tr>
            <tr>
                <td>@shippingAddress.PostalCode</td>
            </tr>
            <tr>
                <td>@shippingAddress.City</td>
            </tr>
            <tr>
                <td>
                    @shippingAddress.Province
                </td>
            </tr>
            <tr>
                <td>
                    @shippingAddress.Country
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-action="ShippingAddressEdit" asp-route-returnurl="@ViewData["ReturnUrl"]">Edit Address</a>
                </td>
            </tr>
        }
    </table>