@using RipoffExpress.Models;

@model ShoppingCartViewModel

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="row">
    <div class="col-md-7">
        <table>

            @foreach (ProductModelView product in Model.order.OrderItems)
            {

            <tr>
                <td>
                    <img src="@product.MediaUrl" alt="ProductImage" />
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    &euro; @product.Price
                </td>
                <td>
                    <a class="btn btn-success" href="@Url.Action("RemoveProductFromOrder", "Order" , new { productId = product.Id, orderId = Model.order.Id })">Remove</a>
                </td>
            </tr>

            }

            <!--button to remove products, possibly up amount of products  and link to product-->
        </table>
    </div>
    <div class="col-md-5">
        <table>
            <thead>Default Shipping Address</thead>
            <tr>
                <td>
                    @Model.account.ShippingAddress.Address
                </td>
            </tr>
            <tr>
                <td>
                    @Model.account.ShippingAddress.PostalCode, @Model.account.ShippingAddress.City
                </td>
            </tr>
            <tr>
                <td>
                    @Model.account.ShippingAddress.Province, @Model.account.ShippingAddress.Country
                </td>
            </tr>
            <tr>
                <td>
                    @Model.account.ShippingAddress.PhoneNumber
                </td>
            </tr>
        </table>
        <!-- button to switch address, total price and button to pay.-->
    </div>
</div>